:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: lightgray;
  background-color: cornflowerblue;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  text-align: center;
  min-width: 320px;
  max-width: 600px;
}

#app {
  margin: 0;
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: lightgray;
    background-color: cornflowerblue;
  }
}
