@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Trade+Winds&display=swap');

:root {
  color-scheme: light dark;
  --background: lightblue;
  --foreground: black;
  --high-row-bg: cornflowerblue;
  --low-row-bg: tan;
}

html,
body {
  min-width: 320px;
  max-width: 500px;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 125%;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#app {
  margin: 0;
  padding: 0;
}
